@page
@model SQWWebApplication.Pages.Players.CreateModel

<form method="post">
  <div class="form-group">
    <input class="form-control" asp-for="playerVm.firstName" />
  </div>
  <div class="form-group">
    <input class="form-control" asp-for="playerVm.lastName" />
  </div>
  <div class="form-group">
    <input class="form-control" asp-for="playerVm.birthDate" />
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
  </div>
</form>