@page
@model SQWWebApplication.Pages.CrudWithoutRepository.DeleteModel

<dl class="row">
  <dt class="col-sm-2">Area Code</dt>
  <dd class="col-sm-10">@Model.area.areaCode</dd>
  <dt class="col-sm-2">Description</dt>
  <dd class="col-sm-10">@Model.area.description</dd>
</dl>

<form method="post">
  <input type="hidden" asp-for="area.areaCode" />
  <input type="submit" value="Delete" class="btn btn-danger" />
</form>